.home {
    display: flex;
}

.home__filter{
    width: 200px;
    padding: 10px;
    background-color: #f2f2f2;
}

.home__cardHolder {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.home__radio {
    display: flex;
    flex-direction: column;

}