.navbar {
    overflow: hidden;
    background-color: #009933;
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.navbar__listItem {
    color: black;
    border: 1px black;
    text-decoration: none;
    height: 100%;
    padding: 10px;
}

.navbar__listItem:hover {
    background-color: yellow;
    border: 1px yellow;
}

.content {
    display: flex;
    justify-content: center;
}